# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs & temp
*.log
*.tmp
*.bak

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
